<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %}</title>
  <style>
  
    body {
      margin: 0;
      padding: 0;
    }

    header {
      background-color: #333; 
      color: #fff;
      padding: 10px;
      text-align: center;
      display: flex;
      align-items: center;
    }

    header a {
      color: #fff;
      text-decoration: none;
      display: flex;
      align-items: center;
    }

    header img {
      height: 40px; 
      width: auto; 
      margin-right: 10px;
    }

    .back-button {
      margin-right: 10px;
    }
  </style>
</head>
<body>
  <header>
    <a href="{% url 'home' %}" class="back-button">
      <i class="fas fa-arrow-left"></i> Back to Home
    </a>
    <a href="{% url 'home' %}">
      <img src="{% static 'path/to/your/logo.png' %}" alt="Logo">
    </a>
    <h1>{% block header %}{% endblock %}</h1>
  </header>

